/*index.css - css for the index page of the site*/

body, html {height: 100%}
.bgimg {
  background-image: url('../images/me.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}